# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Database
data/
*.sqlite3
*.db

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ngrok/Temp files
*.log

#achive
achive/